.search__bg {
  background-color: var(--bg-transparent);
  height: 100%;
  left: 0;
  position: fixed;
  top: 6rem;
  z-index: 2;
}

.search__container {
  background-color: var(--bg-black);
  filter: opacity(100%);
  padding: 2rem;
  width: 99vw;
}
