.search__bg {
  position: fixed;
  top: 100%;
  left: 0;
  background-color: var(--bg-transparent);
  height: calc(100vh - 100%);
  z-index: 2;
}

.search__container {
  background-color: var(--bg-black);
  width: 99vw;
  padding: 2rem;
  filter: opacity(100%);
}
