.details__bg {
  align-items: center;
  background-color: var(--bg-transparent);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 99vw;
  z-index: 5;
}

.details__container {
  background-color: var(--bg-black);
  border-radius: 2rem;
  box-shadow: inset 0 0 15px #333;
  display: flex;
  flex-direction: column;
  height: 70vh;
  padding: 2rem;
  width: 70%;
}

.scrollable {
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}

.summary__properties {
  margin: 0 1rem 1rem 2rem;
  flex:auto;
}

.summary__properties > p {
  font-size: 1.5rem;
}

.summary__properties > h1 {
  font-size: 3rem;
  margin: 0;
}

.summary__properties > h2 {
  color: #9c9c9c;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.details__summary {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.field__gray {
  color: #9c9c9c;
  font-size: 1.5rem;
  font-variant: small-caps;
}

.details__description > p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.add__btn {
  background-color: var(--bg-gray);
  border: 1px solid gray;
  border-radius: 5px;
  padding: 1rem;
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-right: 2rem;
}