.details__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 99vw;
  height: 100%;
  background-color: var(--bg-transparent);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details__container {
  padding: 2rem;
  border-radius: 2rem;
  width: 70%;
  height: 70vh;
  background-color: var(--bg-black);
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 15px #333;
}

.scrollable {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.summary__properties {
  margin: 0 1rem 1rem 2rem;
}

.summary__properties > p {
  font-size: 1.5rem;
}

.summary__properties > h1 {
  font-size: 3rem;
  margin: 0;
}

.summary__properties > h2 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: #9c9c9c;
}

.details__summary {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.field__gray {
  font-size: 1.5rem;
  color: #9c9c9c;
  font-variant: small-caps;
}

.details__description > p {
  font-size: 1.5rem;
  line-height: 2rem;
}
