.list__container-horizontal {
  color: var(--text-bright);
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.list__container-horizontal::-webkit-scrollbar {
  display: none;
}

.list__container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.scrollable {
  display: flex;
  flex-direction: row;
  min-width: fit-content;
}

.list {
  margin: 2rem;
}

.list > h1 {
  font-size: 2rem;
}

.favorites__add-text {
  color: #9c9c9c;
  font-size: 1.5rem;
  font-variant: small-caps;
  margin: 0 auto;
}

.list__get-more {
  align-items: center;
  display: flex;
  width: 100%;
}

.get-more__btn {
  background-color: var(--bg-gray);
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem;
  margin: auto;
  width: fit-content;
}
