.movie-container {
  display: inline-block;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  scroll-snap-align: start;
  transition: transform 0.2s;
  width: 300px;
}

.movie-container:hover,
.movie-container:focus {
  transform: scale(1.1);
  z-index: 1;
}

.movie-container:hover .movie,
.movie-container:focus .movie {
  background-blend-mode: soft-light;
  background-color: var(--bg-gray);
}

.movie-container:hover .movie .movie__fav-button,
.movie-container:focus .movie .movie__fav-button {
  display: flex;
}

.movie {
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.movie-container:hover .movie .movie__title,
.movie-container:focus .movie .movie__title {
  font-size: 1.7rem;
}

.movie__title {
  align-items: flex-end;
  display: flex;
  font-size: 1.5rem;
  height: 31px;
  margin: 10px 5px;
  text-shadow: 0 0 3px var(--bg-black);
}

.movie__fav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  filter: drop-shadow(0 0 2px var(--bg-black));
  margin: 5px;
  outline: none;
}

.movie:hover > .movie__fav-btn {
  display: inline;
}
